.msweb-select {
    width: 100%;
    min-height: 30px;
    background: white;
    border: 1px solid #ccc;
    cursor: default;
    line-height: 1;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.msweb-select-title {
    font-size: 12px;
    color: #5a5a5a;
    display: inline-block;
    padding: 0px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    z-index: 9999999999;
}

.msweb-select-title:hover {
    background: #fff; /* Цвет фона */
    white-space: normal; /* Обычный перенос текста */
    position: relative;
}

.msweb-select-down {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 23px;
    position: relative;
    float: right;
    margin: 4px;
    background: #ececec;
    background-image: url("../img/down-arrow-1.png");
    background-size: 80% 68%;
    background-position: center;
    background-repeat: no-repeat;
}

.msweb-select-selected-cont {
    font-size: 13px;
    font-weight: bold;
    padding: 0px 5px;
}

.msweb-select-opts-container {
    background: white;
    position: absolute;
    z-index: 111;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .65);
    max-height: 250px;
    max-width: 100%;
    overflow: auto;
}

.msweb-select-option {
    padding: 4px 3px;
    border-bottom: 1px solid silver;
    font-size: 12pt;
}

.msweb-select-option:hover {
    background: #f1eeee;
}

@media all and (max-width: 1024px) {
    .msweb-select-opts-container {
        width: 80%;
    }
}

.msweb-select.wrong {
    border: 2px solid red;
}